.row
  .col-xs-12
    %span.filter-label Filters
.row
  .col-md-10.col-sm-9.col-xs-12
    .tag-filter
      - if category.present?
        %span.label.label-tag.label-category-tag
          = category
          = link_to category_tag_url(nil, tags) do
            = fa_icon 'times-circle'
      - @tags.each do |tag|
        %span.label.label-tag{ class: "label-#{TagBuilder.tag_type(tag.to_s)}-tag"}
          = tag.to_s
          = link_to remove_tag_url(category, tags, tag.to_s) do
            = fa_icon 'times-circle'
.row
  .col-xs-12
    = link_to "#{fa_icon 'envelope'} Sign up for email alerts".html_safe
