%h1
  - if @job.posted?
    Edit Job
  - else
    Post a Job

- unless @job.posted?  
  = render partial: 'why_post'
= render partial: 'shared/flash'
    
= form_for @job, url: job_path(@job) do |f|    
  = render partial: 'form', locals: { f: f }
  .text-center
    - if @job.posted?
      = f.submit "Update your post", class: 'btn btn-lg btn-primary preview', data: { 'disable-with' => 'Updating...' }
    - else
      = f.submit "Preview your post", class: 'btn btn-lg btn-primary preview', data: { 'disable-with' => 'Submitting...' }
