.container
  .row
    .col-md-10.col-sm-9.col-xs-12
      .heading
        %h3 Howdy!
        %h2 <b>Remotely Awesome Jobs</b>   curates the best remote tech jobs across the web.
        = render partial: 'shared/flash'
      .navigation= render partial: 'shared/nav'
      .panel.panel-default
        - if @category.present? || @tags.present?
          .panel-heading
            .row
              .col-xs-12
                %span.filter-label Filters
            .row
              .col-md-10.col-sm-9.col-xs-12
                = render partial: 'shared/tag_filter', locals: { category: @category, tags: @tags }
            .row
              .col-xs-12
                = link_to "#{fa_icon 'envelope'} Sign up for email alerts".html_safe, alert_enroll_path(action: 'new', category: @category, tags: @tags)
        .panel-body
          = render partial: 'shared/jobs_list', locals: { jobs: @jobs }
