.container
  .row
    .col-md-10.col-sm-9.col-xs-12
      .heading
        %h3= welcome_message
        %h2 <b>Remotely Awesome Jobs</b>   curates the best remote tech jobs across the web.
        = render partial: 'shared/flash'
      .navigation= render partial: 'shared/nav'
      .panel.panel-default
        .panel-heading
          = render partial: 'shared/filter', locals: { tags: @tags, q: @q }
          .row
            .col-xs-12
              = link_to "#{fa_icon 'envelope'} Sign up for email alerts".html_safe, alert_enroll_path(action: 'new', tags: @tags, q: @q)
        .panel-body
          .jobs-container
            = render partial: 'jobs'
          .text-center
            = link_to_next_page @jobs, 'Load More', remote: true, id: "load_more", class: 'btn btn-primary', data: { 'disable-with' => "<i class='fa fa-spinner fa-spin'></i> Loading...".html_safe }
