.row
  .col-md-8
    = render partial: 'job', locals: { job: @job }
    .apply
      .hidden-xs.display-sm.display-md.display-lg
        .text-center
          - if @job.original_post_url.present?
            .row
              .col-xs-12
                %p= link_to "Apply on #{@job.source} #{fa_icon 'chevron-right'}".html_safe, @job.original_post_url, class: "btn btn-primary btn-lg", target: '_blank'
          .row
            .col-xs-12
              %p= link_to "#{fa_icon 'chevron-left'} Back to Jobs List".html_safe, jobs_path              
      .display-xs.hidden-sm.hidden-md.hidden-lg
        .text-center
          - if @job.original_post_url.present?
            .row
              .col-xs-12
                %p= link_to "Apply on #{@job.source} #{fa_icon 'chevron-right'}".html_safe, @job.original_post_url, class: "btn btn-primary btn-sm", target: '_blank'    
          .row
            .col-xs-12
              %p= link_to "#{fa_icon 'chevron-left'} Back to Jobs List".html_safe, jobs_path, class: 'btn btn-default btn-sm'
  .col-md-4.sidebar
    .text-center            
      .buttons
        .button= link_to "#{fa_icon 'thumb-tack'} Post a Job".html_safe, new_job_path, class: 'btn btn-info'
        .button= link_to "#{fa_icon 'twitter'} Follow Us on Twitter".html_safe, 'http://www.twitter.com/RemotelyAweJobs', class: 'btn btn-info'
        .button= link_to "#{fa_icon 'list-alt'} View More Remote Jobs".html_safe, jobs_path, class: 'btn btn-info'
        .button= link_to "#{fa_icon 'envelope'} Email alerts for jobs like this".html_safe, alert_enroll_path(action: 'new', tags: @tags, q: @q), class: "btn btn-primary"
        - if current_user && current_user.admin?
          .button= link_to "#{fa_icon 'edit'} Edit this post".html_safe, edit_admin_job_path(@job), class: "btn btn-danger"
      .similar
        %h4 Similar Posts
        - Job.similar(@job).each do |job|
          .job-mini-summary
            .job-title= link_to job.title, job_path(job)
            .job-company= job.company
