%h1 Your Account
You are currently signed in as <b>#{current_user.email}</b>

- message = dashboard_message(current_user)
- if message.present?
  .message
    .alert.alert-danger= message
  
.message= render partial: 'shared/flash'
    
%legend Posted Jobs
- if current_user.jobs.present?
  %table.table.table-condensed
    %thead
      %tr
        %th Job Title
        %th Posted at
        %th Expires at
        %th Status
        %th 
    - current_user.jobs.each do |job|
      %tr
        %td= link_to job.title, job_path(job)
        %td
          - if job.posted? && job.posted_at.present?
            = job.posted_at.to_s(:mini_date_time)
          - else
            Never
        %td
          - if job.posted? && job.expires_at.present?
            = job.expires_at.to_s(:mini_date_time)          
        %td= job.status.humanize
        %td
          .pull-right= job_list_action(current_user, job)
- else
  (No jobs posted yet)

%legend Payment Information
No payment information on your account.
  
.actions.text-center
  = link_to "#{fa_icon 'thumb-tack'} Post a job".html_safe, new_job_path, class: "btn btn-lg btn-default"
  = link_to "#{fa_icon 'sign-out'} Sign out".html_safe, session_path, method: :delete, class: "btn btn-lg btn-primary"

:coffeescript
  $ ->
    $('.delete-job').on 'click', (e)->
      e.preventDefault()
      $clicked = $(e.target)
      title = $clicked.data('title')
      bootbox.confirm "Delete the post for <b>" + title + "</b>?", (result)->
        if result
          $clicked.unbind "click"
          $clicked.get(0).click()
      false  