%ul
  - jobs.each do |job|
    %li
      .job
        .row
          .col-sm-10
            %h2= link_to job.title, job_path(job)
          .col-sm-2
            .hidden-xs
              .pull-right.category= link_to job.category.capitalize, category_path(job.category)
            .visible-xs
              .category= link_to job.category.capitalize, category_path(job.category)
        .row
          .col-xs-8
            %h3= job.company
          .col-xs-4
            .hidden-xs
              %p.pull-right.when-posted= when_posted(job)
            .visible-xs.when-posted
              %p= when_posted(job)
        .row
          .col-xs-12
            = render partial: 'shared/tags', locals: { job: job }

= paginate(jobs)
