= link_to root_path, class: "navmenu-brand" do
  = image_tag 'remotely-awesome-logo-white.png', class: 'logo'
%ul.nav.navmenu-nav
  %li{ class: active_tab_class('Everything', params) }
    = link_to "Recent", jobs_path, class: 'category-link'
  %li{ class: active_tab_class('Development', params) }
    = link_to "Develop", category_path('Development'), class: 'category-link'
  %li{ class: active_tab_class('Design', params) }
    = link_to "Design", category_path('Design'), class: 'category-link'
  %li{ class: active_tab_class('Management', params) }
    = link_to "Manage", category_path('Management'), class: 'category-link'
  %li{ class: active_tab_class('Other', params) }
    = link_to "Other", category_path('Other'), class: 'category-link'
