!!!5
%html
  %head
    %title Remote Work: Find who's hiring telework technologists | Remotely Awesome Jobs
    %meta{ charset: 'utf-8' }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    %meta{ 'http-equiv' => "X-UA-Compatible", content: "IE=edge" }

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

%body{ class: "job-listings #{controller.controller_name} #{controller.action_name} " }
  .navigation= render partial: 'shared/nav'
  = yield

:coffeescript
  $ ->
    $('[data-toggle="offcanvas"]').click ()->
      $('.row-offcanvas').toggleClass('active')
    $('[data-toggle="tooltip"]').tooltip();
